/* .ovflow{
    white-space:nowrap; 
    width:100px;
    height: 100px;
    border:2px solid black; overflow: hidden;
    text-overflow: ellipsis;
} */


.first {
    width: 50%;
}
.ovflow {
    width: 200px;
    height: 50px;
    position: relative;
    border:2px solid greenyellow;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}