body {
    background-image: url("../image/Background.png");

   }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

  }
a:link{
    color:white;
    text-decoration-line:none;
}
a:visited{
    color:green;
    text-decoration-line:none;
}
.searchstyle{
    border-radius: 45px;

}

.emailstyle{
    border-radius: 45px;
}

header .nav-item{
    width:125px;
    height:45px;
    text-align: center;
    /* border:1px solid rgb(243, 2, 2); */
    margin-right:20px;
    /* margin-top:-10px; */
    background-color: rgb(255, 255, 255);
}

header .nav-item:hover{
    width:125px;
    height:45px;
   
    /* border:1px solid rgb(243, 2, 2); */
    margin-right:20px;
    /* margin-top:-10px; */
    background-color: rgb(241, 236, 154);
}

.accordion1{
    background-color: rgb(243, 112, 112); 

}

#colaccordion .nav-item .active{
    color:white;
    background-color: blue;
}


.footer1{
    height: 30vh;
    background-image:url('../image/footerbg.jpg');
   
    
    background-size: cover;
}

.fontdesign1{
    
    background-color:rgb(12, 87, 70);
    font-size: 50px;

  }

.fontdesign2{
    
    background-color:rgb(25, 175, 143);
    font-size: 50px;

  }


.fontdesign3{
    
    background-color:rgb(41, 136, 224);
    font-size: 50px;

  }

.footername1{
    font-size: 25px;
    color: rgb(233, 203, 70);
}

.footername2{
   
    font-size: 10px;
    color: rgb(233, 203, 70);
}

.address{
    color: white;
   
    font-size: 10px;
   

}

.footertext{
    color:red;
    font-size: 10px;
}
.accordion1{

    background-color: rgb(243, 112, 112);
}

.accordion2{
    background-color: rgb(240, 98, 47);
}

.accordion3{
    background-color: rgb(243, 153, 120);
}

.accordion4{
    background-color: rgb(44, 158, 69);
}

.accordion5{
    background-color: darkcyan;
}

.accordion6{
    background-color: rgb(60, 116, 221);
}



@media only screen and (max-width:990px){
nav{
 
    width: 100px;
    position: absolute;
    left: auto;
    top:auto;
    right: 20px;

}
}